/* variables to be used for website */

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(113, 86%, 17%);    
    --clr-primary-2: hsl(131, 77%, 27%);
    --clr-primary-3: hsl(125, 72%, 37%);
    --clr-primary-4: hsl(122, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(128, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(137, 90%, 70%);
    --clr-primary-7: hsl(135, 90%, 76%);
    --clr-primary-8: hsl(130, 86%, 81%);
    --clr-primary-9: hsl(134, 90%, 88%);
    --clr-primary-10: hsl(123, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(0, 61%, 16%);
    --clr-grey-2: hsl(0, 39%, 23%);
    --clr-grey-3: hsl(0, 35%, 30%);
    --clr-grey-4: hsl(0, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(0, 22%, 49%);
    --clr-grey-6: hsl(0, 23%, 60%);
    --clr-grey-7: hsl(0, 27%, 70%);
    --clr-grey-8: hsl(0, 31%, 80%);
    --clr-grey-9: hsl(0, 32%, 89%);
    --clr-grey-10: hsl(0, 33%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --ff--third:'Poppins',sans-serif;
    --transition: all 0.3s linear;
    --spacing: 2.5px;
    --spacing2: 0.05rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }

html{
    scroll-behavior: smooth;
}

*,::after,::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: var(--clr-primary-10);
}
/*----------------------- hero : first page of the website----------------------------- */
#hero{
    background-image: url("images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.container{
display: block;
height: 100vh;
width: 100vw;
}
/* ---------navgation: here we state the menus and links to different blocks------ */
.nav{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-primary-5);
    box-shadow: var(--dark-shadow);
    height: 10vh;
}
.logo{
    width:auto;
    padding-left: 30px;
    height:75px;
}

.sidemenu li{
    display: inline-block;
    list-style: none;
    cursor: pointer;
    margin:10px 20px;
    letter-spacing: var(--spacing);
    color: white;
    font-family: var(--ff-primary);
    font-size: medium;
    font-weight: 550;
    text-transform: uppercase;
    transition: var(--transition);
}


.sidemenu li a{
  padding-right: 10px;
  color: white;
  text-decoration: none;
  position: relative;
  transition: var(--transition);
}
.sidemenu li a:hover{
  color: rgb(4, 40, 116);
}
.nav ul li a::after{
  content:'';
  width: 0;
  height:3px;
  background:#ff004f;
  position:absolute;
  left:0;
  bottom:-6px;
  transition: var(--transition);
}
.nav ul li a:hover::after{
  width:100%;
}
.nav .feedback:hover::after{
  width:0%;
}
.nav .fa-sharp{
  display:none;
}
.feedback{
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 5px;
    background-color:rgb(255, 68, 68);
    border: 1.5px solid white;
    border-radius: 10px;
    color: var(--clr-white);
    transition: var(--transition);
}
.feedback:hover{
    background-color: white;
    color: red;
    border: 1.5px solid rgb(255, 20, 20);
}
.donate{
    background-color: transparent;
    border: none;
}
.donate i{
    font-size: 35px;
    color: rgb(255, 48, 48);
    background:transparent;
    transition: var(--transition);
}
.donate i:hover{
    color: rgb(255, 255, 255);
}
/* MODAL FOR-----------------FEEDBACK-------------------------- */
.con-feedback{
    top:0;
    bottom:0;
    height:100vh;
    width: 100vw;
    position:fixed;
    display: flex;
    place-content: center;
    background-color: rgba(138, 206, 255, 0.8);;
    z-index:-10;
    visibility: hidden;
    /* visibility: visible; */
  }
  .show-con-feedback{
    visibility: visible;
    z-index:10;
  }
  .con-feedback .container{
    background:rgb(255, 255, 255);
    box-shadow: var(--light-shadow);
    margin: auto;
    width:50%;
    height: 80%;
    padding: 10px 20px;
    display: block;
    text-align: center;
    border-radius: 20px;
  }
  .feedbackclose{
    width: 100%;
    /* margin:auto; */
    display: flex;
    justify-content: end;
    background: transparent;
    border:transparent;
    font-size: 30px;
    /* margin: auto auto 3rem auto; */
    color: rgb(32, 0, 101);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .feedbackclose:hover{
    /* transform: scale(1.1); */
    color: rgb(246, 24, 24);
  }
  .con-feedback form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 15px 0px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: var(--dark-shadow);
  }
  .con-feedback .container h1{
    text-align: center;
    color:rgb(9, 55, 98);
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .con-feedback .container form button{
    margin: auto;
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;    
    margin-top: 10px;
    display: inline-block;
    background-color:white;
    border-radius: 10px;
    border: 1.5px solid rgb(8, 54, 103);
  }
  .con-feedback .container form button:hover{
    background-color: rgb(8, 54, 103);
    color: white;
  }
    
  /* MODAL FOR-----------------Donation-------------------------- */
  .con-donation{
    top:0;
    bottom:0;
    height:100vh;
    width: 100vw;
    position:fixed;
    display: flex;
    place-content: center;
    background-color: rgba(138, 206, 255, 0.8);;
    z-index:-10;
    visibility: hidden;
    display: grid;
  }
  
  .show-con-donation{
    visibility: visible;
    z-index:10;
  }
  .con-donation .containers{
    /* grip-gap:5px; */
    display: grid;
    grid-template-rows:auto auto;
    grid-template-columns:repeat(2, 1fr);
    background:rgb(255, 255, 255);
    box-shadow: var(--light-shadow);
    /* margin: auto; */
    width: auto;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .donationclose{
    grid-row: 1;
    grid-column: span 2;
    width: auto;
    margin-right: 25px;
    margin-bottom: 10px;
    text-align: end;
    background: transparent;
    border:transparent;
    font-size: 30px;
    color: rgb(32, 0, 101);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .donationclose:hover{
      color: rgb(246, 24, 24);
    }
    .containers .container{
      /* align-items: center; */
      display: block;
      width: auto;
      margin:auto;
      margin-right: 20px;
      margin-bottom: 10px;
      height: auto;
      box-shadow: var(--light-shadow);
    }
    .container1{
      grid-row: 2;
      grid-column: 1;
    }
    .container2{
      grid-row: 2;
      grid-column: 2;
    }
  .container1 img{
    width: 200px;
    height: 200px;
  }
  .container .text{
    font-size: 20px;
    /* align-content: center; */
    display: flex;
    justify-content: center;
  }
  .container2 img{
    width: 200px;
    height: 200px;
  }

  /*------------This was all for two modals i.e. donate and feedback path----------*/

  /*----------------Now We will add some text at the center---------- */

  .header-text{
    height: 90vh;
    align-items: center;
    margin-top: 20% !important;
    font-family: var(--ff--third);
    font-size:30px;
    margin:20px;
    color:white;
    transition: var(--transition);
    letter-spacing: var(--spacing);
  }


  /*--------------Now moving forward to message section -------------------------------------------*/
  #message{
    padding: 50px 30px;
    height:auto;
  }
  #message .containers{
    display: flex;
    justify-content: space-between;
    flex-wrap: no-wrap;
  }
  #message .container1{
    width: 315px;
    height:560px;
    /* box-shadow: var(--light-shadow); */
    flex-basis: auto;
  }
  #message .container1 iframe{
    border-radius: 15px;
    box-shadow: var(--dark-shadow);
  }
  #message .container2{
    flex-basis: 70%;
    padding-left:5%;
    padding-right: 5%;
    font-family:var(--ff--third);
    font-size:x-large;
    height: 100%;
    letter-spacing: var(--spacing);
    font-weight: 600;
    color: rgb(8, 66, 86);
    text-transform: uppercase;
  }





  #about{ 
    /* padding:80px 0; */
    width: 100vw !important;
    height: auto; 
} 
.aboutcontainer{ 
    display: flex;
    margin-top: 50px !important;
    margin: 40px 20px; 
    place-content: center;
    justify-content: space-between; 
    flex-wrap: wrap; 
} 
.col1{ 
  flex-basis: 38%; margin-right: 2%;
} 
.col1 img{ 
    width: 100%; 
    height: auto;
    border-radius: 15px; 
} 
.col2{ 
    flex-basis:60%; 
    /* margin-left: 3px; */
    line-height: 45px;
    /* margin: 5px; */
}
.col2{
  font-size: xx-large;
  font-family: var(--ff-secondary);
  color: #06335d;
  letter-spacing: var(--spacing);
  text-transform:uppercase;
  flex-wrap: wrap;
}
.col2 .FSU,.PCNSU,.AD{
  font-family: var(--ff--third);
  font-size: large;
}
.col2 .sub-title{
  line-height: 60px;
}
.col2 a{
  text-decoration: none;
  color: rgb(91, 93, 95);
}
.col2 a:hover{
  color: blueviolet;
}
  /* Now for slider sectioin */
  #slider{
    height: 100vh;
    width: 100%;
    padding:80px 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--clr-primary-10);
  }
  .wrapper {
    display: flex;
    max-width: 650px;
    width: 100%;
    height: 400px;
    background: #fff;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .wrapper i.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 36px;
    width: 36px;
    background-color: #343f4f;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s linear;
    z-index: 100;
    cursor: pointer;
  }
  i.button:active {
    transform: scale(0.94) translateY(-50%);
  }
  i#prev {
    left: 25px;
  }
  i#next {
    right: 25px;
  }
  .image-container {
    height: 320px;
    max-width: 500px;
    width: 100%;
    overflow: hidden;
  }
  .image-container .carousel {
    display: flex;
    /* overflow: hidden; */
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
  }
  .carousel img {
    height: 100%;
    width: 100%;
    border-radius: 18px;
    border: 10px solid #fff;
    object-fit: cover;
    /* overflow: hidden; */
  }
  .copyright{ 
    width:100%; 
    text-align:center; 
    padding: 5px 0; 
    background:#4ea1ff; 
    font-weight:300; 
    color: white;
} 
.copyright i{ 
    color:#ffffff; 
} 


@media only screen and (max-width:600px) {
  #message .container2{
    display: none;
    font-size:large;
  }
  #message .container1{
    margin-left: 20px;
  }
  .aboutcontainer{
    display: block;
    margin: 10px 20px;
  }
  #hero{
    background-image: url("images/phonebg.png");
    background-size: cover;
  }
  .header-text{
    height: 90vh;
    align-items: center;
    margin-top: 85% !important;
    font-family: var(--ff--third);
    font-size:20px;
    margin:20px;
    color:white;
  }
  .nav{
    display: flex;
    justify-content: space-between;
  }
  .sidemenu{ 
    background:#048234;
    display: block;
    position:fixed;
    top:0; 
    right: -200px;
    width:200px; 
    height:100vh; 
    padding-top:40px; 
    z-index:4; 
    transition: var(--transition); 
} 
.show-sidemenu{
  right:0; 
}
  .nav .fa-xmark{
    display:block;
    font-size:30px;
    color: white;
  }
  .nav .fa-bars{
    position: fixed;
    font-size:30px;
    top: 20px;
    right: 20px;
    display: flex;
    color:#ff004f;
  }
  .nav {
    display: block;
    font-size: 20px;
  }
  
.nav ul li{ 
    display:block; 
    margin:30px !important; 
} 
.nav .fa-xmark{ 
    position: absolute; 
    top: 10px; 
    left: 25px; 
    cursor: pointer;
  }
}